.Appointment-item {
    width: 200px;
    border: 2px #b5b7c4 solid;
    border-radius: 5px;
    padding: 10px;
  }
  .appointment-titlecont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .appointment-title {
    margin: 0px;
    font-size: 18px;
    color: #171f46;
    font-weight: 600;
  }
  .starred-img {
    height: 20px;
  }
  .appointment-date {
    margin-top: 0px;
    font-size: 12px;
    color: #b5b7c4;
    font-weight: 600;
    margin: 0px;
  }
  .star-btn {
    background-color: #ffffff;
    border-width: 0px;
    align-self: flex-start;
  }
  